<div class="row mt-5">
  <div class="col-md-5 col-xs-12 text-light mb-4">
    <div>
     <h2 class="py-5"> Aplicación OLSoftware</h2>
      <p> Registro público, en el cual deben inscribirse todos
          los prestadores de servicios turísticos que
          efectúen sus operaciones en Colombia</p>
    </div>
  </div>
  <div class="col-md-7 col-xs-12">
    <div class="card rounded border border-dark">
      <div class="card-body mx-3 my-3">
        <h2 class="card-title">Crea tu cuenta</h2>

        <form class="mt-3" (submit)="onSubmitAddUser()">
          <div class="row mt-3">
            <div class="form-group col-md-6">
              <label for="inputNombre">Nombre de Usuario</label>
              <input type="email" class="form-control" id="inputNombre" name="inputNombre1"  [(ngModel)]="user.name" placeholder="Ingrese su Nombre Completo">
            </div>
            <div class="form-group col-md-6" >
              <label for="inputTipoId">Tipo identificación</label>
              <select  id="inputTipoId" [(ngModel)]="user.typeId" name="inputTipoId1" class="form-control">
                <option value="">Seleccione uno</option>
                <option value="cc">Cedula de Ciudadanía</option>
                <option value="ti">Tarjeta de identidad</option>
                <option value="te">Pasaporte</option>
              </select>
            </div>
          </div>
          <div class="row mt-3">
            <div class="form-group col-md-6">
              <label for="inputEmail">Correo electrónico</label>
              <input type="email" class="form-control" id="inputEmail" name="inputEmail1" [(ngModel)]="user.email" placeholder="Ingrese su correo electrónico">
            </div>
            <div class="form-group col-md-6 ">
              <label for="inputId">Numero de identificación</label>
              <input type="text" class="form-control" id="inputId" name="inputId1" [(ngModel)]="user.idNumber" placeholder="Ingrese su correo electrónico">
            </div>
          </div>
          <div class="row mt-3">
            <div class="form-group col-md-6  ">
              <label for="inputPassword1">Contraseña</label>
              <input type="password" class="form-control" id="inputPassword1" name="inputPassword11" [(ngModel)]="user.pass1" placeholder="Ingrese su contraseña">
            </div>
            <div class="form-group col-md-6 ">
              <label for="inputPassword2">Confirmar Contraseña</label>
              <input type="password" required class="form-control" id="inputPassword2" name="inputPassword21" [(ngModel)]="user.pass2" placeholder="Ingrese su contraseña nuevamente">
            </div>
          </div>


          <div class="row mt-5">
            <div class=" offset-9 col-md-3">
              <button type="submit" class="btn btn-block btn-primary">Ingresar</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>