<div class="row mt-5">
  <div class="col-md-5 col-xs-12 text-light mb-4">
    <div>
     <h2 class="py-5"> Aplicación OLSoftware</h2>
      <p> Registro público, en el cual deben inscribirse todos
          los prestadores de servicios turísticos que
          efectúen sus operaciones en Colombia</p>
    </div>
  </div>
  <div class="col-md-7 col-xs-12">
    <div class="card rounded border border-dark">
      <div class="card-body mx-3 my-3">
        <h2 class="card-title">Crea tu cuenta</h2>

        <form class="needs-validation mt-3" novalidate (submit)="onSubmitAddUser()"  #formNuevo="ngForm" >
          <div class="row mt-3">
            <div class="form-group col-md-6">
              <label for="inputNombre">Nombre de Usuario</label>
              <input type="text" required class="form-control" id="inputNombre" name="inputNombre1"  [(ngModel)]="user.name" placeholder="Nombre de Usuario">
              <div class="invalid-feedback">
                 Campo Requerido (Mín. 3 caracteres)
                </div>
            </div>
            <div class="form-group col-md-6 ">
                <label for="inputId">Numero de identificación</label>
                <input type="text" required  class="form-control" id="inputId" name="inputId1" [(ngModel)]="user.idNumber" placeholder="No. de identificación">
                <div class="invalid-feedback">
                    Campo Requerido (Mín. 8 caracteres)
                  </div>
              </div>
          </div>
          <div class="row mt-3">
            <div class="form-group col-md-6">
              <label for="inputEmail">Correo electrónico</label>
              <input type="email" required class="form-control" id="inputEmail" name="inputEmail1" [(ngModel)]="user.email" placeholder="Correo electrónico">
              <div class="invalid-feedback">
                  Campo Requerido (Mín. 3 caracteres)
                </div>
            </div>
            <div class="form-group col-md-6 ">
                <label for="inputId">Teléfono</label>
                <input type="text" required class="form-control" id="inputTel" name="inputTel1" [(ngModel)]="user.phone" placeholder="Teléfono">
                <div class="invalid-feedback">
                    Campo Requerido (Mín. 8 caracteres)
                  </div>
              </div>
          </div>
          <div class="row mt-3">
            <div class="form-group col-md-6  ">
              <label for="inputPassword1">Contraseña</label>
              <input type="password" required  class="form-control" id="inputPassword1" name="inputPassword11" [(ngModel)]="user.pass1" placeholder="Contraseña">
              <div class="invalid-feedback">
                  Contraseña Requerida 
                </div>
            </div>
            <div class="form-group col-md-6 ">
              <label for="inputPassword2">Confirmar Contraseña</label>
              <input type="password" required class="form-control" id="inputPassword2" name="inputPassword21" [(ngModel)]="user.pass2" placeholder="Confirmar contraseña">
              <div class="invalid-feedback">
                  Contraseña Requerida 
                </div>
            </div>
          </div>


          <div class="row mt-5">
            <div class=" offset-9 col-md-3">
              <button type="submit" class="btn btn-block btn-primary">Ingresar</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>