<div class="row mt-5">
  <div class="col-md-8">
      <div class="row my-3"><button class="btn btn-info" data-toggle="modal" data-target="#modalCreate" type="button">Crear</button></div>
      <div class="row ">
          <table class="table table-dark">
              <thead>
                <tr>
                  <th scope="col">Nombres</th>
                  <th scope="col">Apellidos</th>
                  <th scope="col">Identicación (C.C)</th>
                  <th scope="col">Rol asociado</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Teléfono</th>
                  <th scope="col">Correo electrónico</th>
                  <th scope="col">Acción</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let usuario of usuarios index as i">
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
              </tbody>
            </table>
         
        </div>
      
  </div>
  <div class="col-md-4">
      <div class="card rounded border border-dark ">
        <div class="card-body ">
          <h4 class="card-title mt-3">Filtrar Usuarios</h4>
          <form (submit)="onFilterSubmit()">
            <div class="row">
              <div class="form-group col-md-6"><label for="nombresFiltro">Nombres</label><input type="text" [(ngModel)]="filtro.nombres"
                  name="nombresFiltro" id="nombresFiltro" class="form-control"></div>
              <div class="form-group col-md-6"><label for="apellidosFiltro">Apellidos</label><input type="text"
                  [(ngModel)]="filtro.apellidos" name="apellidosFiltro" id="apellidosFiltro" class="form-control"></div>
            </div>
            <div class="row">
              <div class="form-group col-md-6"><label for="identificaionFiltro">Identificación (C.C)</label><input type="text"
                  [(ngModel)]="filtro.identificacion" name="identificaionFiltro" id="identificaionFiltro" class="form-control"></div>
              <div class="form-group col-md-6"><label for="rolAsociadoFiltro">Rol Asociado</label><input type="text"
                  [(ngModel)]="filtro.rolAsociado" name="rolAsociadoFiltro" id="rolAsociadoFiltro" class="form-control"></div>
            </div>
            <div class="row">
              <div class="form-group col-md-6"><label for="estadoFiltro">Estado</label><input type="text" [(ngModel)]="filtro.estado"
                  name="estadoFiltro" id="estadoFiltro" class="form-control"></div>
              <div class="form-group col-md-6"><label for="telefonoFiltro">Teléfono</label><input type="text" [(ngModel)]="filtro.telefono"
                  name="telefonoFiltro" id="telefonoFiltro" class="form-control"></div>
            </div>
            <div class="row">
              <div class="form-group col-md-6"><label for="emailFiltro">Correo electrónico</label><input type="text"
                  [(ngModel)]="filtro.email" name="emailFiltro" id="emailFiltro" class="form-control"></div>
            </div>
          </form>
        </div>
      </div>
  </div>

<div  id="modalCreate" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Nuevo Usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #usuarioform = "ngForm" (submit)="onNewSubmit(usuarioform)" >
        <div class="modal-body">
            <div class="row mt-3">
                <div class="form-group col-md-6">
                  <label for="inputNombre">Nombre de Usuario</label>
                  <input type="text" required class="form-control" id="inputNombre" name="inputNombre1" minlength="3" #inputNombre1="ngModel"  [(ngModel)]="usuarioService.selectUsuario.name" placeholder="Ingrese su Nombre Completo">
                  <div class="valid-feedback">Campo Requerido (Mín. 3 caracteres)</div>
                </div>
                <div class="form-group col-md-6" >
                  <label for="inputTipoId">Tipo identificación</label>
                  <select  id="inputTipoId" required [(ngModel)]="usuarioService.selectUsuario.tipoId" name="inputTipoId1"  #inputTipoId1="ngModel" class="form-control">
                    <option value="">Seleccione uno</option>
                    <option value="cc">Cedula de Ciudadanía</option>
                    <option value="ti">Tarjeta de identidad</option>
                    <option value="te">Pasaporte</option>
                  </select>
                  <div class="valid-feedback">Seleccione una opción</div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="form-group col-md-6">
                  <label for="inputEmail">Correo electrónico</label>
                  <input type="email" required minlength="3" class="form-control" id="inputEmail" name="inputEmail1"  #inputEmail1="ngModel" [(ngModel)]="usuarioService.selectUsuario.email" placeholder="Ingrese su correo electrónico">
                  <div class="valid-feedback">
                      Campo Requerido (Mín. 3 caracteres)
                    </div>
                </div>
                <div class="form-group col-md-6 ">
                  <label for="inputId">Numero de identificación</label>
                  <input type="text" required minlength="8" class="form-control" id="inputId" name="inputId1" #inputId1="ngModel" [(ngModel)]="usuarioService.selectUsuario.identificacion" placeholder="Ingrese su correo electrónico">
                  <div class="valid-feedback">
                      Campo Requerido (Mín. 8 caracteres)
                    </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="form-group col-md-6  ">
                  <label for="inputPassword1">Contraseña</label>
                  <input type="password" required  class="form-control" id="inputPassword1" name="inputPassword1" #inputPassword1="ngModel" [(ngModel)]="usuarioService.selectUsuario.pass1" placeholder="Ingrese su contraseña">
                  <div class="valid-feedback">
                      Contraseña Requerida 
                    </div>
                </div>
                <div class="form-group col-md-6 ">
                  <label for="inputPassword2">Confirmar Contraseña</label>
                  <input type="password" required class="form-control" id="inputPassword2" name="inputPassword2" #inputPassword2="ngModel" [(ngModel)]="usuarioService.selectUsuario.pass2" placeholder="Ingrese su contraseña nuevamente">
                  <div class="valid-feedback">
                      Contraseña Requerida 
                    </div>
                </div>
              </div>
    
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Guardar</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </form>

    </div>
  </div>
</div>
