<div class="row mt-5">

  <div class="col-md-12 ">
      <div class="card rounded border border-dark bg-light ">
          <div class="card-body ">
            <h2 class="card-title mt-3">Empleados</h2>

                <div class="accordion" id="accordionExample">
                    <div class="card rounded border border-light bg-transparent text-light">
                      <div class="card-header  bg-light" id="headingOne">
                        <div class="row">
                          <div class="col-md-2">
                              <h5 class="mb-0">
                                  <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                      Mostrar Filtros
                                  </button>
                                </h5>
                          </div>
                          <div class="col-md-2 offset-8">
                                  <button class="btn btn-info btn-block" data-toggle="modal" data-target="#modalCreate" type="button" (click) = "newUsuario()">Crear</button>
                
                          </div>
                        </div>

                      </div>
                  
                      <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body bg-secondary text-light">
                            <form (ngSubmit)="filtrar()">
                                <div class="row mt-3">
                                  <div class="form-group col-md-3">
                                    <label for="filtroNombre">Nombre de Usuario </label>
                                    <input type="text"  class="form-control" id="filtroNombre" name="filtroNombre"  [(ngModel)]="filtro.name"
                                      placeholder="Nombre de Usuario">
                      
                                  </div>
                                  <div class="form-group col-md-3 ">
                                    <label for="filtroId">Numero de identificación</label>
                                    <input type="text"  class="form-control" id="filtroId" name="filtroId" [(ngModel)]="filtro.idNumber"
                                      placeholder="No. de identificación">

                                  </div>
                                  <div class="form-group col-md-3">
                                      <label for="filtroTel">Teléfono</label>
                                      <input type="text"  class="form-control" id="filtroTel" name="filtroTel" [(ngModel)]="filtro.phone"
                                        placeholder="Teléfono">
  
                                    </div>
                                  <div class="form-group col-md-3">
                                    <label for="filtroEmail">Correo electrónico</label>
                                    <input type="email" class="form-control" id="filtroEmail" name="filtroEmail"
                                      [(ngModel)]="filtro.email"  placeholder="Correo electrónico">

                                  </div>
                      

                                </div>
                                <div class="row"><div class="col-md-2"><button type="submit" class="btn btn-primary btn-block"><i class="fas fa-filter"></i> Filtrar </button></div> </div>
                              </form>
                        </div>
                      </div>
                    </div>
                  </div>

<div class="table-responsive">
    <table class="table ">
        <thead>
          <tr>
            <th scope="col">Nombre Usuario</th>
            <th scope="col">Identicación </th>
            <th scope="col">Teléfono </th>
            <th scope="col">Correo Electrónico</th>
            <th scope="col">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of usuariosListFiltrada index as i">
  
            <th scope="row"> {{ usuario.name }} </th>
            <td> {{ usuario.idNumber }} </td>
            <td> {{ usuario.phone }} </td>
            <td> {{ usuario.email }} </td>
            <td><button class="btn btn-outline-success" (click)="editUsuario($event, usuario)" data-toggle="modal" data-target="#modalCreate"><i class="fas fa-pencil-alt" ></i></button> <button class="btn btn-outline-danger" (click)="deleteUsuario($event, usuario)"><i class="fas fa-trash-alt"></i></button>  </td>
          </tr>
        </tbody>
      </table>
</div>
  </div>
</div>
  </div>

</div>


<div id="modalCreate" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Nuevo Empleado</h5>
        <button #btnClose type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form (ngSubmit)="onNewSubmit($event)" #formNuevo="ngForm" class="needs-validation" novalidate>
        <div class="modal-body">
          <div class="row mt-3">

            <div class="form-group col-md-6">
              <label for="inputNombre">Nombre de Usuario</label>
              <input type="text" required class="form-control" id="inputNombre" name="inputNombre1" 
                [(ngModel)]="nuevo.name" placeholder="Nombre de Usuario">
            </div>
            <div class="form-group col-md-6 ">
              <label for="inputId">Numero de identificación</label>
              <input type="text" required  class="form-control" id="inputId" name="inputId1" [(ngModel)]="nuevo.idNumber"
                placeholder="No. de identificación">

            </div>
          </div>
          <div class="row mt-3">
            <div class="form-group col-md-6">
              <label for="inputEmail">Correo electrónico</label>
              <input type="email" required  class="form-control" id="inputEmail" name="inputEmail1"
                [(ngModel)]="nuevo.email" placeholder="Correo electrónico">

            </div>
            <div class="form-group col-md-6 ">
              <label for="inputId">Teléfono</label>
              <input type="text" required  class="form-control" id="inputTel" name="inputTel1" [(ngModel)]="nuevo.phone"
                placeholder="Teléfono">

            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" >Guardar</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </form>

    </div>
  </div>
</div>
